{% extends 'core/base.html' %}

{% block header %}
    {% if form.instance.pk %}
        App Productos: Actualizando Categoría de Productos
    {% else %}
        App Productos: Creando Categoría de Productos
    {% endif %}
{% endblock header %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <button>
        <a href="{% url 'productos:productocategoria_list' %}">Volver</a>
    </button>
{% endblock main %}
