{% extends 'core/base.html' %}

{% block header %}
    Productos: Listado de Categorías de Productos
{% endblock header %}

{% block main %}
<div class="container my-4">
    <div class="d-flex justify-content-center">
        <form method="get" class="d-flex me-3">
            <input type="text" class="form-control me-2" name="q" placeholder="Buscar...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <a href="{% url 'productos:productocategoria_create' %}">
            <button class="btn btn-success">Crear Registro</button>
        </a>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead class="table-dark text-center">
                <tr>
                    <th style="width: 70%;">Nombre</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.nombre }}</td>
                        <td class="text-center">
                            <a href="{% url 'productos:productocategoria_detail' object.id %}" class="btn btn-info btn-sm">Detalle</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'productos:productocategoria_update' object.id %}" class="btn btn-warning btn-sm">Cambiar</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'productos:productocategoria_delete' object.id %}" class="btn btn-danger btn-sm">Borrar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No hay registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}
